{% extends 'rango/base.html' %}
{% load staticfiles %} <!-- New line -->

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
		<h1>Rango says..</h1>
		<div>
			<h3>This tutorial has been put together by Pavlos Evangelidis</h3><br />
      <p>visits: {{ visits }}</p>
      <p>visits: 1</p>
		</div>
		<div>
			<img src="{{ MEDIA_URL }}cat.jpg"	alt = "Picture of Rango as a Cat" /> <!-- New line-->
			<img src="{% static "images/rango.jpg" %}"	alt = "The pictures of the project" />
		</div>
{% endblock %}
